.background_img {
  position: fixed;
  top: 0;
  left: 0;

  background-size: auto;
  background-repeat: repeat;
  animation: scroll-background 100s linear infinite;
}

@keyframes scroll-background {
  0% {
    transform: translate(0%, 0%);
  }
  100% {
    transform: translate(100%, 100%);
  }
}

.background_img_a {
  position: fixed;
  top: 0%;
  right: 0%;

  background-repeat: repeat;
  animation: scroll-background_a 100s linear infinite;
}

@keyframes scroll-background_a {
  0% {
    transform: translate(-100%, 0%);
  }
  100% {
    transform: translate(0%, 100%);
  }
}



.background_img_b {
  position: fixed;
  top: 0%;
  right: 0%;

  background-repeat: repeat;
  animation: scroll-background_b 100s linear infinite;
}

@keyframes scroll-background_b {
  0% {
    transform: translate(0%, -100%);
  }
  100% {
    transform: translate(100%, 0%);
  }
}
.background_img_c {
  position: fixed;
  top: 0%;
  right: 0%;

  background-repeat: repeat;
  animation: scroll-background_c 100s linear infinite;
}

@keyframes scroll-background_c {
  0% {
    transform: translate(-100%, -100%);
  }
  100% {
    transform: translate(0%, 0%);
  }
}
